<!-- http://ashishkhan.com/blog/buddy-whatsapp-chat-bot-with-python -->
<div
  class="sidebar"
  [attr.data-color]="Itcolor"
  [attr.data-background-color]="Sbcolor"
  [attr.data-image]="url"
>
  <div class="logo">
    <a routerLink="/home" class="simple-text logo-normal">Tickets/Sys</a>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-menu" *ngFor="let i of _sbar.Menu">
        <a *ngIf="i.url" class="nav-link" [routerLink]="[i.url]">
          <i class="nav-item material-icons">{{ i.icon }}</i>
          <p>{{ i.title }}</p>
        </a>

        <div *ngIf="i.submenu" class="nav">
          <li class="nav-menu">
            <a
              class="nav-link collapsed"
              data-toggle="collapse"
              href="#{{ i.pr }}"
            >
              <i class="material-icons">{{ i.icon }}</i>
              <p>{{ i.title }}</p>
            </a>
          </li>

          <ul class="nav-menu collapse" id="{{ i.id }}">
            <li class="nav-item" *ngFor="let item of i.submenu">
              <a [routerLink]="[item.url]" class="nav-link">
                <i class="material-icons">{{ item.icon }}</i>
                <p>{{ item.title }}</p>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
